{% load static %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<html>

<head>
<link rel="stylesheet" href="{% static 'airgg/css/main.css' %}?ver=20190309" />
<link rel="stylesheet" href="{% static 'airgg/css/home.css' %}?ver=20190309" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div id ='alrHome' class="main-title mb-2"></div>
	<div id="alrMenu" class="alr-menu"></div>

	<div id="homeAddBanner" class="home-addbanner-div">
		<img src="{% static 'airgg/img/league.png' %}" height="580" width="1080">
	</div>

	<div id="seasonMonitor" class="sub-nav-div"></div>

	<div id="homeMainDiv" class="home-main-div col-lg-7" >

		<div id="bestPlayer" class="home-bestplayer">
			<H2 id="bestTitle"></H2>
			<H3 id="bestUserName"></H3>
			<div id="bestChampion"></div>
			<p id="bestUserLine"></p>
			<p id="bestUserKDA"></p>
			<H3 id="bestDescription" class="mt-5 mr-2 ml-2">
				위 클랜원은 해당 시즌에서 높은 KDA를 달성하여 <br>
				이를 기념하기 위해 시즌 MVP로 임명함.
			</H3>
			<div class="home-master-sign"></div>
		</div>

		<div id="airVideoWindow" class="ml-2 mt-1 mb-2 mr-1">
			<H3>ALR Channel</H3>
			<iframe class="ml-2 mr-2 mb-2 mt-1" width="911" height="512" src="https://www.youtube.com/embed/pMcV0KLQJ1c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<H3>영상제작: AlR 뽀으</H3>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

	<script type="text/javascript" src="{% static 'airgg/riot_api/dragonhead.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/9.2.1/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/9.2.1/js/dragonmagic.js' %}"></script>

	<script type="text/javascript" src="{% static 'build/airgg-vendor.20190319.js' %}?ver=20190219"></script>
	<script type="text/javascript" src="{% static 'build/airgg-home.20190319.js' %}?ver=20190219"></script>
	<script>
	$(document).ready(function() {
	    home.init();
	});
	</script>

</body>
<footer id="airFooter" class="main-func-div">
	<div id="airVersion"></div>
</footer>
</html>
