{% load static %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<html>

<link rel="stylesheet" href="{% static 'airgg/css/main.css' %}?ver=2" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script type="text/javascript" src="{% static 'airgg/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'airgg/js/home.js' %}"></script>
<script>

$(document).ready(function() {
    home.init();
});

</script>

<body>
	<H1 style="font-weight: bold; text-align: center; "><a href="/" style="color:black;">:League of Legends Clan: A Light REST</a></H1>
	<div class="airMenu">
		<ul class="airMenuBar">
			<li class="airMenuBar li-category" style="padding-left:20px"><a href="/member">멤버</a></li>
			<li class="airMenuBar li-category"><a href="/ranking">랭킹</a></li>
			<li class="airMenuBar li-category"><a href="/stats">통계</a></li>
			<li class="airMenuBar li-category"><a href="/position">포지션 예측</a></li>
			<li class="airMenuBar li-category"><a href="https://cafe.naver.com/alightrest">커뮤니티</a></li>
			<li class="airMenuBar li-category"><a href="https://www.youtube.com/channel/UCGNbhTiN8xMGOKtiQbMxmkQ">하나튜브</a></li>
			<li class="airMenuBar li-search">
				<input id="airSearchInput" type="text" placeholder="Search..">
				<button id="airSearchBtn" onclick="common.onSearch()">
					<img src="{% static 'airgg/img/search.png' %}"></img>
				</button>
			</li>
		</ul>
	</div>

	<div id="bestPlayer" class="airBestPlayerWindow">
		<div style="height:60px;"></div>
		<H2 id="bestMonthTitle"></H2>
		<H3 id="bestUserName"></H3>
		<div id="bestChampion"></div>
		<div id="bestUserInfo">
		</div>
	</div>

	<div class="airVideoWindow">
		<iframe width="911" height="512" src="https://www.youtube.com/embed/OVfg9FMdUSc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>

	<script type="text/javascript" src="{% static 'airgg/riot_api/dragonhead.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.15.1/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.15.1/js/dragonmagic.js' %}"></script>

</body>
<footer style="height:200px">
</footer>
</html>
