{% load static %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<html>

<link rel="stylesheet" href="{% static 'airgg/css/main.css' %}?ver=1" />
<link rel="stylesheet" href="{% static 'airgg/css/member.css' %}" />


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script type="text/javascript" src="{% static 'airgg/js/member.js' %}?ver=6"></script>
<script>

$(document).ready(function() {
    member.init();
});

</script>

<body>
	<H1 style="font-weight: bold; text-align: center; "><a href="/airgg/" style="color:black;">:League of Legends Clan: A Light REST</a></H1>
	<div class="airMenu">
		<ul class="airMenuBar">
			<li class="airMenuBar li-category" style="padding-left:20px"><a href="/airgg/member">멤버</a></li>
			<li class="airMenuBar li-category"><a href="/airgg/ranking">랭킹</a></li>
			<li class="airMenuBar li-category"><a href="/airgg/stats">통계</a></li>
			<li class="airMenuBar li-category"><a href="/airgg/position">포지션 예측</a></li>
			<li class="airMenuBar li-category"><a href="https://cafe.naver.com/alightrest">커뮤니티</a></li>
			<li class="airMenuBar li-category"><a href="https://www.youtube.com/channel/UCGNbhTiN8xMGOKtiQbMxmkQ">하나튜브</a></li>
			<li class="airMenuBar li-search">
				<input class="airSearchInput" type="text" placeholder="Search..">
				<button class="airSearchBtn">
					<img src="{% static 'airgg/img/search.png' %}"></img>
				</button>
			</li>
		</ul>
	</div>
<div class="member-title">
	<img width="1080px" src="{% static 'airgg/img/alr_title.png' %}"></img>
</div>
<div class="chart-container">
<table class="member-total-table">
	<colgroup>
		<col width="500">
		<col width="500">
	</colgroup>
	<tbody>
		<tr>
			<td><img class='member-master' src="{% static 'airgg/img/master.jpg' %}"></img></td>
			<td><canvas id="mostLinePie" height="300px"></canvas></td>
		</tr>
	</tbody>
	
</table>
</div>
<div class="container member-div">
<table class="table table-hover member-table">
	<colgroup>
		<col width="50">
		<col width="50">
		<col width="50">
		<col width="50">
		<col width="50">
	</colgroup>
	<thead class="thead">
		<tr>
			<th class="ranking-table_header">아이디</th>
			<th class="ranking-table_header">직책</th>
			<th class="ranking-table_header">이름</th>
			<th class="ranking-table_header">나이</th>
			<th class="ranking-table_header">좋아하는 라인</th>
		</tr>
	</thead>
	<tbody id="memberTableBody">
	<!--	<img src="/static/airgg/riot_api/8.15.1/img/champion/Nidalee.png" class="rounded-circle" width="40px" height="40px">
-->	</tbody>
</table>
</div>

	<script type="text/javascript" src="{% static 'airgg/riot_api/dragonhead.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.15.1/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.15.1/js/dragonmagic.js' %}"></script>

</body>
</html>
