{% load static %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<html>

<link rel="stylesheet" href="{% static 'airgg/css/main.css' %}?ver=20190309" />
<link rel="stylesheet" href="{% static 'airgg/css/ranking.css' %}?ver=20190309"/>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script type="text/javascript" src="{% static 'airgg/js/common.js' %}?ver=20190218"></script>
<script type="text/javascript" src="{% static 'airgg/js/ranking.js' %}?ver=20190218"></script>
<script>

$(document).ready(function() {
   ranking.init();
});

</script>
<body>
<div class="main-title mb-2">
	<img width="1060px" src="{% static 'airgg/img/alr_spring.jpg' %}"></img>
</div>
	<div class="airMenu">
		<ul class="airMenuBar">
			<li class="airMenuBar li-category" style="padding-left:20px"><a href="/member">멤버</a></li>
			<li class="airMenuBar li-category"><a href="/ranking">랭킹</a></li>
			<li class="airMenuBar li-category"><a href="/stats">통계</a></li>
			<li class="airMenuBar li-category"><a href="/position">포지션 예측</a></li>
			<li class="airMenuBar li-category"><a href="https://cafe.naver.com/alightrest">커뮤니티</a></li>
			<li class="airMenuBar li-category"><a href="https://www.youtube.com/channel/UCGNbhTiN8xMGOKtiQbMxmkQ">하나튜브</a></li>
			<li class="airMenuBar li-search">
				<input id="airSearchInput" type="text" placeholder="Search..">
				<button id="airSearchBtn" onclick='common.onSearch()'>
					<img src="{% static 'airgg/img/search.png' %}"></img>
				</button>
			</li>
		</ul>
	</div>
	<div class="sub-nav-div">
		<div class="row input-group ml-2 mt-1 mb-2 mr-1 input-group-sm">
			<div class="input-group-append">
				<span class="input-group-text">Season</span>
			</div>
			<select class="form-control input-sm-7" id="airSeason" onchange='common.changeSeason()'>
				<option>4</option>
				<option>3</option>
				<option>2</option>
				<option>1</option>
				<option>ALL</option>
			</select>
			<div class="sub-nav-div-dummy"></div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'airgg/riot_api/dragonhead.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/9.2.1/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/9.2.1/js/dragonmagic.js' %}"></script>

	<div class="main-func-div col-lg-7">
		<h3 id="seasonTitle"></h3>

		<div id="rankingFirst" class="ranking-first">
		</div>

		<div id="rankingHighRankers" class="row ranking-highest">
		</div>

		<table class="table table-hover">
		        <colgroup>
		                <col width="50">
		                <col width="50">
		                <col width="50">
		                <col width="50">
		        </colgroup>
		        <thead class="thead">
		                <tr>
		                        <th>아이디</th>
		                        <th>티어</th>
		                        <th>플레이</th>
		                        <th>승률</th>
		                </tr>
		        </thead>
		        <tbody id="rankingList">
				<!-- Do sometihng -->
			</tbody>
		</table>
	</div>
</body>
<footer id="airFooter" class="main-func-div">
	<div id="airVersion"></div>
</footer>
</html>
