{% load static %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<html>

<link rel="stylesheet" href="{% static 'airgg/css/main.css' %}?ver=10" />
<link rel="stylesheet" href="{% static 'airgg/css/stats.css' %}?ver=10" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script type="text/javascript" src="{% static 'airgg/js/common.js' %}?ver=10"></script>
<script type="text/javascript" src="{% static 'airgg/js/stats.js' %}?ver=10"></script>
<script>

$(document).ready(function() {
    stats.init();
});
</script>

<body>
	<H1 style="font-weight: bold; text-align: center; "><a href="/" style="color:black;">:League of Legends Clan: A Light REST</a></H1>
	<div class="airMenu">
		<ul class="airMenuBar">
			<li class="airMenuBar li-category" style="padding-left:20px"><a href="/member">멤버</a></li>
			<li class="airMenuBar li-category"><a href="/ranking">랭킹</a></li>
			<li class="airMenuBar li-category"><a href="/stats">통계</a></li>
			<li class="airMenuBar li-category"><a href="/position">포지션 예측</a></li>
			<li class="airMenuBar li-category"><a href="https://cafe.naver.com/alightrest">커뮤니티</a></li>
			<li class="airMenuBar li-category"><a href="https://www.youtube.com/channel/UCGNbhTiN8xMGOKtiQbMxmkQ">하나튜브</a></li>
			<li class="airMenuBar li-search">
				<input id="airSearchInput" type="text" placeholder="Search..">
				<button id="airSearchBtn" onclick='common.onSearch()'>
					<img src="{% static 'airgg/img/search.png' %}"></img>
				</button>
			</li>
		</ul>
	</div>

<div class="stats-title">
	<img width="1080px" src="{% static 'airgg/img/alr_title.png' %}"></img>

	<ul class="nav">
	  <li>
		<div class="row input-group ml-2 mt-1 mb-2 mr-1 input-group-sm">
			<div class="input-group-append">
				<span class="input-group-text">Season</span>
			</div>
			<select class="form-control input-sm-7" id="airSeason" onchange='common.changeSeason()'>
				<option>3</option>
				<option>2</option>
				<option>1</option>
			</select>
		</div>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=home">메인</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=pick_ban">밴픽</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=unique_title">타이틀</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=position_rank">포지션랭킹</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=relative_total">상대전적</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/stats/?type=for_manager">시즌출석률</a>
	  </li>
	</ul>
</div>

<div id="statsMainDiv" class="stats-main-div col-lg-7">
</div>
	
	<script type="text/javascript" src="{% static 'airgg/riot_api/dragonhead.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.24.1/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'airgg/riot_api/8.24.1/js/dragonmagic.js' %}"></script>

</body>
<footer id="airFooter" class="main-func-div">
	<div id="airVersion"></div>
</footer>
</html>
