body {
	font-family: 'OpenSans-Light';

}

.airSearchMenu{
	text-align: center;
}

.airSearchBtn {
	background: transparent;
	border: 0;
	outline: 0;
}

.airSearchInput {
	width: 200px;
	font-size: 1.5em;
	text-align: left;
}

.airMenu{
	width: 1080px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background: gray;
	border-radius: 5px;
}

.airMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: transparent;
}

.airMenuBar.li-category {
    font-size: 1.5em;
    float: left;
}

.airMenuBar.li-category a{
    display: block;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    text-decoration: none;
}

.airMenuBar.li-category a:hover{
    font-size: 1.2em;
    padding-top:1px;
}

.airMenuBar.li-search {
	float: right;
}

.airVersion{
    text-align: center;
}

.sub-nav-div{	
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sub-nav-div-dummy {
	width: 80%;
}

.main-func-div{	
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
