
.member-title {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
.member-div {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.member-table_link {
	color: black;
}

.member-total-table {
	margin-left: auto;
	margin-right: auto;
	
}

.member-master {
	width: 500px;
}

#mostLinePie {
	margin-left: auto;
	margin-right: auto;
	
}
