
.position-input-div {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid;
}

.position-output-div {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid;
}

.position-icon-size {
	width: 50px;
	height: 50px;
}
